
# PlanAhead Generated physical constraints 

NET "register1[15]" LOC = A14;
NET "register1[14]" LOC = E13;
NET "register1[13]" LOC = D13;
NET "register1[12]" LOC = B13;
NET "register1[11]" LOC = A13;
NET "register1[10]" LOC = F12;
NET "register1[9]" LOC = E12;
NET "register1[8]" LOC = A12;
NET "register1[7]" LOC = F11;
NET "register1[6]" LOC = E11;
NET "register1[5]" LOC = D11;
NET "register1[4]" LOC = C11;
NET "register1[3]" LOC = B11;
NET "register1[2]" LOC = A11;
NET "register1[1]" LOC = E10;
NET "register1[0]" LOC = D10;
NET "clk" LOC = B9;
NET "rst" LOC = U10;
NET "wrn" LOC = U5;
NET "rdn" LOC = C14;
NET "ram1addr[15]" LOC = H15;
NET "ram1addr[14]" LOC = H14;
NET "ram1addr[13]" LOC = G16;
NET "ram1addr[12]" LOC = G15;
NET "ram1addr[11]" LOC = G14;
NET "ram1addr[10]" LOC = G13;
NET "ram1addr[9]" LOC = F18;
NET "ram1addr[8]" LOC = F17;
NET "ram1addr[7]" LOC = F15;
NET "ram1addr[6]" LOC = F14;
NET "ram1addr[5]" LOC = E16;
NET "ram1addr[4]" LOC = E15;
NET "ram1addr[3]" LOC = D17;
NET "ram1addr[2]" LOC = D16;
NET "ram1addr[1]" LOC = C18;
NET "ram1addr[0]" LOC = C17;
NET "ram1datainout[15]" LOC = M14;
NET "ram1datainout[14]" LOC = M13;
NET "ram1datainout[13]" LOC = L18;
NET "ram1datainout[12]" LOC = L17;
NET "ram1datainout[11]" LOC = L16;
NET "ram1datainout[10]" LOC = L15;
NET "ram1datainout[9]" LOC = K15;
NET "ram1datainout[8]" LOC = K14;
NET "ram1datainout[7]" LOC = K13;
NET "ram1datainout[6]" LOC = K12;
NET "ram1datainout[5]" LOC = J17;
NET "ram1datainout[4]" LOC = J16;
NET "ram1datainout[3]" LOC = J15;
NET "ram1datainout[2]" LOC = J14;
NET "ram1datainout[1]" LOC = J13;
NET "ram1datainout[0]" LOC = J12;
NET "ram2addr[15]" LOC = V9;
NET "ram2addr[14]" LOC = V12;
NET "ram2addr[13]" LOC = V13;
NET "ram2addr[12]" LOC = V15;
NET "ram2addr[11]" LOC = U18;
NET "ram2addr[10]" LOC = T18;
NET "ram2addr[9]" LOC = T17;
NET "ram2addr[8]" LOC = R18;
NET "ram2addr[7]" LOC = R16;
NET "ram2addr[6]" LOC = R15;
NET "ram2addr[5]" LOC = P18;
NET "ram2addr[4]" LOC = P17;
NET "ram2addr[3]" LOC = P16;
NET "ram2addr[2]" LOC = N18;
NET "ram2addr[1]" LOC = N15;
NET "ram2addr[0]" LOC = N14;
NET "ram2datainout[15]" LOC = N11;
NET "ram2datainout[14]" LOC = N12;
NET "ram2datainout[13]" LOC = P10;
NET "ram2datainout[12]" LOC = P11;
NET "ram2datainout[11]" LOC = P12;
NET "ram2datainout[10]" LOC = P13;
NET "ram2datainout[9]" LOC = R10;
NET "ram2datainout[8]" LOC = R11;
NET "ram2datainout[7]" LOC = R12;
NET "ram2datainout[6]" LOC = R14;
NET "ram2datainout[5]" LOC = R13;
NET "ram2datainout[4]" LOC = T12;
NET "ram2datainout[3]" LOC = T14;
NET "ram2datainout[2]" LOC = T15;
NET "ram2datainout[1]" LOC = T16;
NET "ram2datainout[0]" LOC = U13;
NET "ram1_CE" LOC = M15;
NET "ram1_OE_L" LOC = M16;
NET "ram1_WE_L" LOC = M18;
NET "ram2_CE" LOC = N10;
NET "ram2_OE_L" LOC = R9;
NET "ram2_WE_L" LOC = M9;
